body {
    background-color: rgb(153, 255, 230)
}

.card-title {
    font-weight: 900;
}


.card-text {
    color: green;
    font-weight: 800;
}

img {
    height: auto;
    width: 100%;
}

.control-box {
    -fx-spacing: 10 !important;
}

.page-link {
    color: black
}
